<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <!-- 외부 CSS 파일 연결 -->
    <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
    <!-- Header -->
    <header id="header" th:replace="include/header :: header"></header>

    <!-- Menu -->
    <nav id="menu">
        <h2>Menu</h2>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/view}">Ipsum veroeros</a></li>
            <li><a th:href="@{/view}">Tempus etiam</a></li>
            <li><a th:href="@{/view.html}">Consequat dolor</a></li>
            <li><a th:href="@{/elements.html}">Elements</a></li>
        </ul>
    </nav>

    <!-- Login Form -->
    <div id="login-form">
        <h2>Login</h2>
        <form action="/member/login" method="post">
            <div>
                <label for="id">ID:</label>
                <input type="text" id="id" name="id">
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</body>

</html>
