<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Your Title Here</title>
	<!-- 기타 메타데이터 및 스크립트 -->

	<!-- 외부 CSS 파일 연결 -->
	<link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
	<!-- Header -->
                    <header id="header" th:replace="include/header :: header"></header>

                <!-- Menu -->
                  <nav id="menu">
    <h2>Menu</h2>
    <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/view}">Ipsum veroeros</a></li>
        <li><a th:href="@{/view}">Tempus etiam</a></li>
        <li><a th:href="@{/view.html}">Consequat dolor</a></li>
        <li><a th:href="@{/elements.html}">Elements</a></li>
    </ul>
</nav>
 <h2>회원가입</h2>
    <form action="/member/register" method="post">
        <div>
            <label for="id">ID:</label>
            <input type="text" id="id" name="id" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <label for="auth">권한:</label>
            <select id="auth" name="auth" required>
                <option value="USER">일반 사용자</option>
                <option value="ADMIN">관리자</option>
            </select>
        </div>
        <button type="submit">가입하기</button>
    </form>
</body>
</html>